/* App.css */

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
}

body {
  background-image: url(./img/escalera-madera-al-amanecer-al-estilo-paisajes-tropicales_916626-8049.avif);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 3px 6px 40px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 90%;
  max-width: 400px; 
  min-height: 80vh; 
  padding: 30px;
  box-sizing: border-box;
}

.header h1 {
  color: whitesmoke;
  text-align: center;
  margin: 20px 0; 
  font-size: 24px; 
}

.footer h5 {
  color: whitesmoke;
  text-align: center;
  margin: 20px 0; 
  font-size: 16px; /
}

.task-input {
  outline: none;
  width: 100%; 
  padding: 15px;
  margin: 10px 0; 
  font-size: 16px; 
  color: black;
  background-color: white;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 10px;
}

.task-description {
  outline: none;
  width: 100%; 
  padding: 10px;
  margin: 10px 0; 
  font-size: 16px; 
  color: black;
  background-color: white;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 10px;
}

.button-add {
  width: 100%; 
  padding: 15px;
  margin: 10px 0; 
  font-size: 18px; 
  border-radius: 10px;
  border: 0;
  background-color: rgb(130, 119, 195);
  color: white; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.button-add:hover {
  background-color: rgb(105, 97, 159); 
  opacity: 0.8;
}

.task-list {
  max-height: 300px; 
  overflow-y: auto; 
  flex-grow: 1; 
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin: 10px 0; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  min-height: 50px; 
  background-color: white; 
  color: black; 
}

.button-complete,
.button-edit,
.button-delete {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.8;
  font-size: 24px; 
  border-radius: 50%;
  margin: 0 5px; 
}

.button-complete {
  color: rgb(8, 167, 8);
}

.button-edit {
  color: coral;
}

.button-delete {
  color: red;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
  opacity: 0.6;
}

.list {
  width: 70%; 
  font-size: 18px; 
  padding-left: 10px;
  color: black; 
}


